body {
  background: #faffe8;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;

  h1 {
    font-size: 24pt;
    font-weight: 200;
    text-align: center;
  }

  h3 {
    font-size: 16pt;
    font-weight: 300;
    text-align: center;
  }
}

.examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px auto 30px;
  width: 80vw;
}

.example {
  background: white;
  box-shadow: 0 1px 10px -1px rgba(0,0,0,0.1);
  margin: 12px 0;
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .example-content {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  .example-details {
    border-top: 1px solid rgba(0,0,0,.1);
  }

  p {
    color: #363636;
    padding: 0 12px;
  }

  code {
    display: block;
    background: #3c3c3c;
    color: #1fbf1f;
    padding: 12px;
    overflow: scroll;
  }
}
